.profile
  .row
    .content.span12
    
      = image_tag(@user.photo_url, height: "200px", :class => "thumbnail")
      %h1= @user.name

      %br
      %h2 Minhas idéias

      - @user.ideas.each do |idea|
        .idea
          = image_tag idea.logo.url(:medium), :width => "140"
          %h2= link_to idea.title, edit_idea_path(idea)
          %p= idea.short_description
      - unless @user.ideas.any?
        %h4 
          Você ainda não criou idéias. 
          = link_to "Começe agora!!", new_idea_path
      
      %br
      %h2 Idéias que participo
      - @user.registrations.each do |registration|
        .idea
          = image_tag registration.idea.logo.url(:medium), :width => "140"
          %h2= link_to registration.idea.title
          %p= registration.idea.short_description