.profile
  = image_tag(@user.photo_url)
  %h1= @user.name

  .row
    .content.span12

      %h2 Meus projetos

      - @user.ideas.each do |idea|
        .idea
          %h2= link_to idea.title, edit_idea_path(idea)
          %p= idea.short_description
      - unless @user.ideas.any?
        %h4 
          Você ainda não criou idéias. 
          = link_to "Começe agora!!", new_idea_path

      - @user.registrations.each do |registration|
        .idea
          = image_tag "imagem_ideia.png"
          %h2= registration.idea.title
          %p= registration.idea.short_description