%footer
  %ul.footer-links
    %li.title= link_to 'junt.us', root_url
    %li= link_to 'quem somos', quem_somos_url
    %li= link_to 'como funciona', '#'
    %li= link_to 'todas as idéias', ideas_url
    %li= link_to 'contato', '#'
  .copy
    = "Copyright &copy; 2012 junt.us".html_safe