%header.row-fluid
  #logo.span4<
    = link_to "Logo", root_url
  #masthead.span8
    - if current_user
      %p
        = "Bem-vindo <strong>#{current_user.name}</strong> &bull; ".html_safe
        = link_to "Sair", logout_path
    - else
      %p
        = link_to "Acesse com Facebook", "/auth/facebook", :id => "facebook-connect"

