%header
  .row-fluid
    .header-inner.span10.offset1
      #login
        - if current_user
          %p
            = "Bem-vindo <strong>#{link_to current_user.name, dashboard_path}</strong> &bull; ".html_safe
            = link_to "Sair", logout_path
        - else
          = link_to "Acesse com Facebook", "/auth/facebook", :id => "facebook-connect"
        %br
        = link_to image_tag("botao_mais_ideia.png"), new_idea_path, :id => "new-idea-button"
        
      #logo
        %h1= link_to "Junt.us", root_url
        
  .row-fluid
    .desc.span8.offset2
      %p Pensado para ser um site de código fonte aberto, rodando para todo o Brasil, o Junt.us oferece espaço para criação e divulgação de idéias