.row
  .content.span12

    %h2
      Desenvolvimento
    %p
      Eduardo Fiorezi, Anézio Marques e Rodrigo Reginato
      = link_to "da empresa de desenvolvimento de sistemas de Londrina hooppe.com", "http://hooppe.com"
    %p
      Flávio Granero do 
      = link_to "Tower CRM - Sistema para imobiliárias ", "http://towercrm.com.br/"
    
    %h2
      Design
    %p
      Renato Moriama da
      = link_to "Hanabi Design", "http://www.hanabidesign.com.br/"
    
    %h2
      Idealizadora
    %p
      Alexandra Yusiasu Dos Santos da
      = link_to "Aldeira Coworking - Londrina", "http://www.aldeiaco.com.br/londrina/"

    %h2
      Coordenador do projeto
    %p
      Daniel Kossmann da
      = link_to "spirallab", "http://www.spirallab.com.br/"
