!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    %title= yield(:title) + " | Junt.us"

    %link{:href => "/favicon.png", :rel => "shortcut icon"}
    = yield(:header_tags)

    = stylesheet_link_tag "application", :type => nil, :media => "all"
    = csrf_meta_tags

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body{:id => controller.controller_name}
    .container-fluid
      = render "/shared/header"
      = render "/shared/flashes"
      %hr
      %section{:role => "main"}
        = yield

      - if content_for?(:sidebar)
        %aside
          = yield(:sidebar)
      %hr
      = render "/shared/footer"
      = javascript_include_tag "application", :type => nil
      = render "/shared/ga"
      = render "/shared/fb"